

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: rgb(10,34,44);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

#content_titel {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 56px;
    padding-top: 80px;
    padding-bottom: 120px;
}


.headerContent {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.headerLogo {
    width: 30%;
    padding: 8px;
}

main{
    min-height: 80vh;
    display: flex;
    justify-content: center;
}
body {
    max-height: 100dvh;
    background-color: rgb(7,24,32);
}

.startseite{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}

.startseite div img {
    width: 250px;
    height: 250px;
    border-radius: 8%;
    padding: 8px;
    object-fit: cover;
    cursor: pointer;
}

.startseite div img:hover {
    opacity: 0.5;
}
#imgContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 220px;
}

 .dialoge {
    padding-bottom: 42px;
 }
dialog {
    background-color: rgb(13,50,64);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 800px;
    width: 600px;
    border-radius: 8%;
}
.escDiv {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 800px;
    width: 600px;
    border-radius: 8%;
}


dialog header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 48px;
    padding-right: 48px;
    background-color: rgb(13,50,64);
}
.escBtn {
    height: 25px;
    width: 25px;
    color: white;
    background-color: black;
}
.escBtn:hover {
    background-color: red;
    opacity: 0.75;
}
dialog section h3 {
    color: white;
    padding-left: 50px;
}

dialog img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 500px;
}
dialog.opened {
    background-color: rgb(13,50,64);
}
dialog::backdrop {
    opacity: 0;
    background-color: black;
    transition: all 1s ease-in;

    }
dialog.opened::backdrop {
    opacity: 0.75;
    transition: all 1s ease-in;

}
.openDialogImg {
    display: flex;
    justify-content: center;
    align-items: center;
}


dialog footer {
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(13,50,64);
}



button {
    height: 45px;
    width: 78px;
    cursor: pointer;
}
button:hover {
    opacity: 0.75;
}


footer {
    background-color: rgb(10,34,44);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}



@media (max-width: 850px)  {
    .startseite {
        height: fit-content;
    }
    .startseite {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    dialog {
    background-color: rgb(13,50,64);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 400px;
    border-radius: 8%;
}
    dialog img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 300px;
}
    dialog section h3 {
    padding-left: 48px;
    }
}

@media (max-width: 650px) {
    #content_titel {
        text-align: center;
    }
    
    
}

@media (max-width: 450px) {
    dialog {
    height: 600px;
    width: 400px;
    overflow-x: hidden;
    overflow-y: hidden;
}


    dialog footer {
    top: 93%;
    }
}

@media (max-width: 400px) {


    dialog header {
        padding-right: 22px;
    }

    dialog section h3 {
    padding-left: 22px;
    }
}



@media (max-width: 360px) {


    dialog header {
        padding-right: 16px;
    }

    dialog section h3 {
    padding-left: 16px;
}
    
    dialog img {
        height: 260px;
        width: 260px;
        padding: 10px;
    }
}
